@if(Skill is not null){
    <div class="skill-card flex items-center justify-center px-4 py-2 rounded-full bg-white/80 dark:bg-dark-secondary/80 shadow-[0_0_12px_rgba(59,130,246,0.15)] backdrop-blur-sm order border-brand-blue/10 transform hover:-translate-y-1 hover:scale-102 hover:shadow-[0_0_18px_rgba(59,130,246,0.25)] hover:border-brand-blue/20 transition-all duration-300 ">
        <p class="text-base md:text-lg font-bold text-center bg-gradient-to-r from-brand-blue to-brand-green bg-clip-text text-transparent select-none">
            @(Skill.Name ?? "Skill")
        </p>
    </div>
}
                

@code {
    [Parameter]
    public SkillDto? Skill { get; set; } = new SkillDto();
}
